.container {
	width: 450px;
	margin: 0 auto; 
	background-color: #e1e1e1;
	overflow: hidden;
}

ui,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul {
	width: 100%;
}
li {
	float: left;
	width: 33%;
}